.card-container{
    border: 10px solid black;
    padding: 20px; 
}

.card{
    border: 1px solid black;
    height: 385px;
    max-width: 400px;
}

.card>img{
    width: 100;
    height: 200px;
    border: 2px solid red;
}
